.root {
  //width: 1440px;
  //margin: 0 auto;
  background-color: #ffffff;
  position: relative;
  height: 100vh;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 118px;
  transition: 0.5s;
}

.main__move {
  transform: translateX(-280px);
  transition: 1s;
}
