.blue__button {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  background: #1e4785;
  border-radius: 12px;
  border: none;
  padding: 13px 23px;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background-color: #081e3f;
    transition: all 0.3s ease;
  }
}

.close__button {
  height: 78px;
  font-weight: 500;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
  cursor: pointer;
}
